html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// body, h1, h2, h3, h4, h5, h6, p, ol, ul {
body {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: -apple-system, system-ui;
    background: #242526;
    color: #e8e8e8;
}

#app {
    padding: 40px;
    max-width: 780px;
    margin: 50px auto 0;
}
