@use "colors";
@use "sass:color";

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	height: 30px;
	padding: 0 15px;
	border-radius: 15px;
	position: relative;
	gap: 5px;
	min-width: 24px;
	outline: 0;
	z-index: 1;
}

.focus {
	z-index: 3;
}

@mixin intent($background, $color) {
	background: $background;
	color: $color;

	&.hover {
		background: color.scale($background, $lightness: -9%);
	}

	&.press {
		background: color.scale($background, $lightness: -15%);
	}

	&.focus {
		box-shadow: 0 0 0 2px white, 0 0 0 4px colors.$sky-600;
	}
}

.filled {
	@include intent(colors.$sky-600, colors.$stone-100);
}

.tinted {
	@include intent(colors.$sky-200, colors.$sky-700);
}

.gray {
	@include intent(colors.$stone-200, colors.$sky-600);
}

.plain {
	@include intent(color.adjust(colors.$sky-50, $lightness: +99%), colors.$sky-600);
}

.outlined {
	@include intent(color.adjust(colors.$sky-50, $lightness: +99%), colors.$sky-600);
	box-shadow: inset 0 0 0 1px colors.$sky-600;
}

.danger {
	@include intent(colors.$rose-600, white);
	&.focus {
		box-shadow: 0 0 0 2px white, 0 0 0 4px colors.$rose-600;
	}
}

.disabled {
	background: colors.$stone-100 !important;
	color: colors.$stone-400 !important;
	box-shadow: none !important;
}

.icon {
	font-size: 18px;
	width: 18px;
	height: 18px;
	overflow: hidden;
	font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 20;
}
