@use "colors";
@use "sass:color";

.dialog {
	border-radius: 5px;
	box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
	display: flex;
	flex-direction: column;
	outline: none;
	min-width: 180px;
	background: white;
	position: relative;

	@media (prefers-color-scheme: _dark) {
		//color: colors.$grey-100-white;
		//background: colors.$dark-background !important;
		//border: 1px solid color.scale(colors.$dark-background, $lightness: 15%);
	}
}

.rounded_container {
	display: flex;
	flex-direction: column;
	//overflow: hidden; // popover to select attachments in the project activity comment input needs the drop down to overflow
	border-radius: 5px;
	max-height: inherit;

	// force the content to scroll if setup with overflowY: "auto" (up to the component)
	height: 100%;
}

.overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.37);
	display: flex;
	align-items: center;
	justify-content: center;
}

.centered {
	max-height: calc(100vh - 80px);
	overflow: hidden;
}

.fullscreen {
	// fullscreen is only available if .centered
	// padding-top overlay is 40px, so we keep 40px around the Dialog
	max-width: calc(100vw - 80px);
	width: calc(100vw - 80px) !important; // props.width can be set manually
	height: calc(100vh - 80px);
}

.dialog_tab {
	z-index: 1;
}

.panel {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	outline: 0;
}

.footer {
	padding: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.header_bar {
	box-shadow: inset 0 -1px 0 colors.$stone-200;
}

.footer_bar {
	box-shadow: 0 -1px 0 colors.$stone-200;

	@media (prefers-color-scheme: _dark) {
		//box-shadow: 0 -1px 0 color.scale(colors.$dark-background, $lightness: 15%);
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 20px;
}

.button_group {
	display: flex;

	& > *:not(:last-child) {
		margin-right: 10px;
	}
}

// again a duplicate of tooltip, should be extracted somehow
.arrow {
	$arrowSize: 11px;
	position: absolute;
	transform-origin: center;
	width: $arrowSize;
	height: $arrowSize;
	border-radius: 2px;
	clip-path: polygon(
			-1px -1px,
			($arrowSize - 2px) -1px,
				($arrowSize - 1px) 1px,
			1px ($arrowSize - 1px),
			-1px ($arrowSize - 2px)
	);

	background: white;
	box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);

	&[data-placement="top"] {
		transform: translate(-50%, -50%) rotate(225deg);
	}

	&[data-placement="right"] {
		transform: translate(-50%, -50%) rotate(315deg);
	}

	&[data-placement="bottom"] {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&[data-placement="left"] {
		transform: translate(-50%, -50%) rotate(135deg);
	}
}

.alert_title {
	padding: 10px 10px 5px;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: colors.$stone-500;
}

.alert_content {
	padding: 0 10px;
	font-size: 15px;
}
