@use "sass:color";
@use "colors";

.group {
	display: flex;
	align-items: center;
	column-gap: 5px;
	position: relative;
}

.has-pointer {
	cursor: pointer;
}

.checkbox {
	width: 32px;
	height: 18px;
	box-shadow: 0 0 0 1px colors.$stone-300;
	border-radius: 4px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 0 0 32px;
	user-select: none;
	-webkit-user-select: none;

	&::before {
		position: absolute;
		content: "";
		display: block;
		width: 18px;
		height: 16px;
		background: colors.$stone-300;
		border-radius: 3px;
		top: 50%;
		left: 1px;
		transform: translate(0, -50%);
		z-index: 1;
	}
}

.check {
	font-size: 20px;
	font-weight: 600;
	z-index: 2;
}

.checked {
	background: colors.$sky-100;
	color: white;

	&::before {
		background: colors.$sky-600;
		transform: translate(12px, -50%);
	}
}

.focus {
	box-shadow: 0 0 0 2px colors.$sky-600 !important;
}

.disabled {
	color: colors.$stone-400 !important;
	cursor: not-allowed !important;

	.checkbox {
		background: colors.$stone-100;
		box-shadow: 0 0 0 1px colors.$stone-200 !important;

		&::before {
			background: colors.$stone-200 !important;
		}
	}
}

.read-only {
	background: colors.$amber-100;
	color: white;

	&::before {
		background: colors.$amber-600;
	}

	&.focus {
		box-shadow: 0 0 0 2px colors.$amber-600 !important;
	}
}
