.menu {
	position: fixed;
	transform: translateX(calc(50vw - 50%)) translateY(15px);
	left: 0;
	top: 0;
	padding: 4px;
	// border-radius: 6px;
	display: flex;
	flex-direction: row;
	column-gap: 5px;
	z-index: 1;
	box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
	background: hsla(0, 0%, 100%, 0.09);
	-webkit-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);
	font-weight: 500;
	user-select: none;
}

.menu_focus {
	// box-shadow: 0 0 0 1px #104890, 0 0 0 3px #2767bb;
	box-shadow: 0 0 0 1px #242526, 0 0 0 3px #2767bb;
}

.link_container {
	z-index: 3;
	position: relative;
	text-align: center;
}

.link {
	display: inline-block;
	padding: 10px 20px 10px 16px;
	color: white;
	border-radius: 3px;
	outline: none;
	line-height: 18px; // fix for Chrome and emoticons
}

.background {
	position: fixed;
	z-index: 2;
	background-image: linear-gradient(
		96.5deg,
		rgba(39, 103, 187, 1) 10.4%,
		rgba(16, 72, 144, 1) 87.7%
	);
	transform-origin: left;
	left: 0;
	top: 0;
	clip-path: inset(0 round 3px); // border-radius
}

.active {
	background: hsla(0, 0%, 100%, 0.09);
}

.letter {
	display: inline-block;
}
