@import "../../vars";

.tag {
	padding: 0.125em 0.6em;
	border-radius: 12px;
	font-size: 0.75em;
	position: relative;
	display: inline-block;
	bottom: 0.125em;
	font-weight: 500;
}

.base {
	@extend .tag;
	background-image: linear-gradient(
			109.6deg,
			rgba(45, 116, 213, 1) 11.2%,
			rgba(121, 137, 212, 1) 91.2%
	);
	color: white;
}

.warning {
	@extend .tag;
	background-image: radial-gradient(
			circle farthest-corner at 10% 20%,
			rgba(255, 209, 67, 1) 0%,
			rgba(255, 145, 83, 1) 90%
	);
	color: #242526;
}

.error {
	@extend .tag;
	background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
	color: white;
}

.comment {
	@extend .tag;
	background: linear-gradient(to right, #3c1053, #ad5389);
	color: white;

	// overwrite
	font-size: 1em;
	padding: 0.6em 1em;
	border-radius: 5px;
}
