.tooltip {
	background: #393939;
	color: white;
	padding: 5px 8px;
	pointer-events: none;
	border-radius: 5px;
	font-size: 11px;
	line-height: 13px;
	opacity: 0;
	max-width: 220px;
	box-shadow: 0 0 0 1px #4d4d4d, 0 0 0 2px #121314, 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
		0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}

.arrow {
	$arrowSize: 13px;
	position: absolute;
	transform-origin: center;
	width: $arrowSize;
	height: $arrowSize;
	background: #393939;
	box-shadow: 0 0 0 1px #121314, inset 0 0 0 1px #4d4d4d;
	border-radius: 2px;
	clip-path: polygon(
		-1px -1px,
		($arrowSize - 2px) -1px,
		($arrowSize - 1px) 1px,
		1px ($arrowSize - 1px),
		-1px ($arrowSize - 2px)
	);

	&[data-placement="top"] {
		transform: translate(-50%, -50%) rotate(225deg);
	}

	&[data-placement="right"] {
		transform: translate(-50%, -50%) rotate(315deg);
	}

	&[data-placement="bottom"] {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&[data-placement="left"] {
		transform: translate(-50%, -50%) rotate(135deg);
	}
}
