@import "fn";

// Responsive Layout boundaries
$view-min: 320;
$view-max: 1440;

:global body {
	background: #e7e5e4;
}

.page {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 980px;
	margin: 0 auto;
}

.horizontal {
	display: flex;
	gap: 10px;
	align-items: center;
	margin: 0 10px;
}

.vertical {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 10px;
}

.header-bar {
	background: #e7e5e4;
	border-radius: 3px;
	margin-top: 30px
}
